@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

$darkblue: #283593;
$grey: #E6E6E6;

html, body, #app-container {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #3949AB;
  
  background: #333;
}

a {
  color: $darkblue;
  text-decoration: none;
  border-bottom: 1px solid $darkblue;
}

.header, .search {
  flex: 0 0 auto;
  padding: 20px 15px;
  border-bottom: 1px solid $grey;
}

.header {
  text-align: center;
  
  img {
    width: 100%;
  }
}

.search input {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  outline: none;
  
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-align: center;
  
  border: none;
}

.artist-list {
  flex: 1 1 auto;
  overflow: scroll;
  
  .error-message {
    display: block;
    padding-top: 20px;
    text-align: center;
  }
}

.artist-row {
  padding: 15px;
  
  border-bottom: 1px solid $grey;
  
  .img {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin-right: 15px;
  }
  
  .artist {
    line-height: 40px;
  }
  
  .links {
    float: right;
    line-height: 40px;
    
    a {
      border: none;
      margin: 0 4px;
    }
  }
}

#app {
  display: flex;
  flex-flow: column;
  
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  
  background: white;
}
